/* Full page center */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e2e8f0;
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e2e8f0;
}

/* Card box */
.login-box {
  background: white;
  padding: 40px 50px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-box h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
  color: #1e293b;
}

/* Input group styling */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  font-weight: 600;
  color: #334155;
}

.input-group input {
  padding: 10px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 4px rgba(99, 102, 241, 0.5);
}

/* Button */
.login-btn {
  padding: 12px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #4f46e5;
}

.register-text {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #475569;
}

.register-text a {
  color: #6366f1;
  font-weight: 600;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------- */

/* Full page center */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e2e8f0;
}

/* Card box */
.login-box {
  background: white;
  padding: 40px 50px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-box h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
  color: #1e293b;
}

/* Inputs */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  font-weight: 600;
  color: #334155;
}

.input-group input {
  padding: 10px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 4px rgba(99, 102, 241, 0.5);
}

/* Buttons */
.login-btn {
  padding: 12px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #4f46e5;
}

.register-text {
  text-align: center;
  font-size: 14px;
  color: #475569;
}

.register-text a {
  color: #6366f1;
  font-weight: 600;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
